*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
.contenidor{
    height: 100vh;
    width: 100%;
}
.franja{
    height: 100vh;
    position: absolute;
    width: 20%;
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    overflow: hidden;
    cursor: pointer;
    /* border: 5px solid white; */
}
.franja::before{
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.07;
    z-index: 10;
    transform: skew(30deg);
    position: absolute;
    transition: all 0.5s;
}
.franja:hover::before{
    transform: scaleX(2);
}
.franja:first-child{
    background: #244F75;
}
.franja:nth-child(2){
    left: 20%;
    background: #60BFBF;
}
.franja:nth-child(3){
    left: 40%;
    background: #8C4B7E;
}
.franja:nth-child(4){
    left: 60%;
    background: #F8BB44;
}
.franja:nth-child(5){
    left: 80%;
    background: #F24B4B;
}